{% extends "base.html" %}

{% block header %}
    {# If the logged in user is an administrator, call the title "Administration", otherwise "Settings" #}
    {% if authuser.is_admin %}
        <h1>Administration</h1>
    {% else %}
        <h1>Settings</h1>
    {% endif %}
    {{ super() }}
{% endblock %}

{% block main %}

    {# Always show the settings a user can edit for itself #}
    {% include "admin_all.html" %}

    {# Only show the "restricted" section if the user is an admin #}
    {% if authuser.is_admin %}
        {% include "admin_restricted.html" %}
    {% endif %}

    {{ super() }}

{% endblock %}
