{% extends "base.html" %}

{% block header %}
    <h1>Welcome</h1>
    {{ super() }}
{% endblock %}

{% block main %}

    {# Show a username/password login form #}
    <form method="post" action="/login" id="loginform" accept-charset="UTF-8">
        <label for="login-username">Username: </label>
        <input id="login-username" type="text" name="username"/><br/>

        <label for="login-password">Password: </label>
        <input id="login-password" type="password" name="password"/><br/>

        <input type="submit" value="Login">
    </form>

    {{ super() }}

{% endblock %}
