{% extends "base.html" %}

{% block header %}
<h1>Administration</h1>
{{ super() }}
{% endblock %}

{% block main %}

<section id="moduser-account">
    <h2>Modify {{ user.name }}</h2>

    <form id="moduser-account-form" method="post" action="/moduser?change=update" enctype="multipart/form-data" accept-charset="UTF-8">
        <label for="moduser-account-username">Username: </label>
        <input id="moduser-account-username" type="text" name="username" value="{{ user.name }}" /><br/>

        <label for="moduser-account-email">E-Mail: </label>
        <input id="moduser-account-email" type="text" name="email" value="{% if user.email is not none %}{{ user.email }}{% endif %}" /><br/>

        <label for="moduser-account-password">Password: </label>
        <input id="moduser-account-password" type="password" name="password" /><br/>

        <label for="moduser-account-receipt-pref">Receipts: </label>
        <select id="moduser-account-receipt-pref" name="receipt_pref">
            {% for pref in receipt_preference_class %}
            <option value="{{ pref.value }}" {% if user.receipt_pref == pref %} selected="selected" {% endif %}>{{ pref.human_readable }}</option>
            {% endfor %}
        </select>
        {% if config_smtp_enabled != '1' %}Sending receipts is disabled by your administrator.{% endif %}
        <br/>

        <label for="moduser-account-ismember">Member: </label>
        <input id="moduser-account-ismember" name="ismember" type="checkbox" {% if user.is_member %} checked="checked" {% endif %}/><br/>

        <label for="moduser-account-isadmin">Admin: </label>
        <input id="moduser-account-isadmin" name="isadmin" type="checkbox" {% if user.is_admin %} checked="checked" {% endif %}/><br/>

        <label for="moduser-account-balance">Balance: </label>
        CHF <input id="moduser-account-balance" name="balance" type="number" step="0.01" value="{{ user.balance|chf(False) }}" /><br/>

        <label for="moduser-account-balance-reason">Reason for balance modification: </label>
        <input id="moduser-account-balance-reason" type="text" name="reason" placeholder="Shows up on receipt" /><br/>

        <label for="moduser-account-avatar">
            <img src="/static/upload/thumbnails/users/{{ user.id }}.png?cacheBuster={{ now }}" alt="Avatar of {{ user.name }}" />
        </label><br/>
        <input id="moduser-account-avatar" type="file" name="avatar" accept="image/*" /><br/>

        <input id="moduser-account-userid" type="hidden" name="userid" value="{{ user.id }}" /><br/>

        <input type="submit" value="Save changes">
    </form>

    <form id="moduser-deluser-form" method="post" action="/moduser?change=del" accept-charset="UTF-8">
        <input id="moduser-deluser-userid" type="hidden" name="userid" value="{{ user.id }}" /><br/>
        <input type="submit" value="Delete user" />
    </form>

</section>

{{ super() }}

{% endblock %}
