
.thumblist-item:nth-child(6n+1) { background: #E40303; }
.thumblist-item:nth-child(6n+2) { background: #FF8C00; }
.thumblist-item:nth-child(6n+3) { background: #FFED00; }
.thumblist-item:nth-child(6n+4) { background: #008026; }
.thumblist-item:nth-child(6n+5) { background: #24408E; }
.thumblist-item:nth-child(6n+6) { background: #732982; }

footer li:nth-child(4n+1) { background: #000000; color: white; }
footer li:nth-child(4n+2) { background: #A3A3A3; }
footer li:nth-child(4n+3) { background: #FFFFFF; }
footer li:nth-child(4n+4) { background: #800080; color: white; }


.touchkey-svg-node:nth-child(16n+1) { fill: #D52D00; }
.touchkey-svg-node:nth-child(16n+5) { fill: #EF7627; }
.touchkey-svg-node:nth-child(16n+9) { fill: #FF9A56; }
.touchkey-svg-node:nth-child(16n+13) { fill: #FFFFFF; }
.touchkey-svg-node:nth-child(16n+14) { fill: #D162A4; }
.touchkey-svg-node:nth-child(16n+15) { fill: #B55690; }
.touchkey-svg-node:nth-child(16n+16) { fill: #A30262; }

.touchkey-svg-node:nth-child(16n+2) { fill: #5BCEFA; }
.touchkey-svg-node:nth-child(16n+6) { fill: #F5A9B8; }
.touchkey-svg-node:nth-child(16n+10) { fill: #FFFFFF; }
.touchkey-svg-node:nth-child(16n+11) { fill: #F5A9B8; }
.touchkey-svg-node:nth-child(16n+12) { fill: #5BCEFA; }

.touchkey-svg-node:nth-child(16n+3) { fill: #D60270; }
.touchkey-svg-node:nth-child(16n+7) { fill: #9B4F96; }
.touchkey-svg-node:nth-child(16n+8) { fill: #0038A8; }

.osk-kbd-row:nth-child(5n+1) .osk-button { background: #FFFFFF; }
.osk-kbd-row:nth-child(5n+2) .osk-button { background: #FFAFC8; }
.osk-kbd-row:nth-child(5n+3) .osk-button { background: #74D7EE; }
.osk-kbd-row:nth-child(5n+4) .osk-button { background: #613915; fill: white; }
.osk-kbd-row:nth-child(5n+5) .osk-button { background: #000000; fill: white; }